<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EdenRedRestAPISuite">
<listeners>
	<listener class-name="com.Edenred.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="Edenred">
		<classes>
			<class name="com.Edenred.testCases.MoneyTransfer.TC_Money_Transfer_Happy" />
			<class name="com.Edenred.testCases.UserLogin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
